{% extends 'base.html' %}

{% block content %}

				<!-- Page Title -->
				<div class="container mt-0">
					<div class="row breadcrumb-bar">
						<div class="col-md-6">
							<h3 class="block-title">Edit Room Allotment</h3>
						</div>
						<div class="col-md-6">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/dashboard/horizontal">
										<span class="ti-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item">
									<a href="/patient/all">All Patients</a>
								</li>
								<li class="breadcrumb-item active">
									<a href="/patient/about">Patients Details</a>
								</li>
							</ol>
						</div>
					</div>
				</div>
			<!-- /Page Title -->

			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Edit Room Allotment</h3>
							<form method="post" class="post-form" action="/room_allotment/update/{{Room.roomnumber}}">
									<input type="hidden" name="roomnumber" room_id="roomnumber" value="{{Room.roomnumber}}"/>
								{% csrf_token %}
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="room-number">Room Number</label>
										<select class="form-control" id="roomnumber" name="roomnumber">
											{% for roomnumber in roomnumbers %}
											<option value="{{ roomnumber }}">{{ roomnumber }}</option>
											{% endfor %}
										</select></div>
									<div class="form-group col-md-6">
										<label for="room-type">Room Type</label>
										<select class="form-control" id="room-type">
											<option>ICU</option>
											<option selected>General</option>
											<option>AC Room</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<label for="patient-name">Patient Name</label>
										<input  type="text" placeholder="Patient Name" class="form-control" id="patient-name" name="patient_name" value="{{Room.patient_name}}">
									</div>
									<div class="form-group col-md-6">
										<label for="allot-date">Allotment Date</label>
										<input  type="date" placeholder="Allotment Date" class="form-control" id="allot-date" name="checkin_date" value="{{Room.checkin_date}}">
									</div>
									<div class="form-group col-md-6">
										<label for="discharge-date">Discharge Date</label>
										<input  type="date" placeholder="Discharge Date" class="form-control" id="discharge-date" name="checkout_date" value="{{Room.checkout_date}}">
									</div>
									<div class="form-group col-md-6">
										<label for="doctor-name">Doctor Name</label>
										<input  type="text" placeholder="Doctor Name" class="form-control" id="doctor-name" name="doctor_name" value="{{Room.doctor_name}}">
									</div>

									<div class="form-group col-md-6 mb-3">
										<button type="submit" class="btn btn-primary btn-lg">Updated</button>
									</div>
								</div>
							</form>
							<!-- Alerts-->
							
							<!-- /Alerts-->
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
			</div>
			<!-- /Main Content -->
                {% endblock %}